* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff!important;
}

.container {
    width: 100%;
    height: 400px;
    /* border: 1px solid red; */
    margin: 20px auto;
}

.line {
    border-top: 2px solid #ddd;
    margin-top: 30px;
    text-align: center;
    height: 1px;
}

.line span {
    padding: 0 20px;
    position: relative;
    top: -12px;
    background-color: #fff;
}


/* 商品列表 */

#app {
    margin-top: 40px;
}

.cart-title {
    list-style: none;
    width: 100%;
    height: 40px;
    background-color: #484444;
}

.cart-title li {
    float: left;
    color: #eee;
    text-align: center;
    line-height: 40px;
}

.cart-title li:nth-child(1) {
    width: 40%;
}

.cart-title li:nth-child(2) {
    width: 10%;
}

.cart-title li:nth-child(3) {
    width: 10%;
}

.cart-title li:nth-child(4) {
    width: 20%;
}

.cart-title li:nth-child(5) {
    width: 20%;
}


/* 商品内容 */

.cart-list {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 80px;
    margin-top: 20px;
    height: 60px;
}


/* input[type="checkbox"] {
    width: 50px;
} */

.mui-switch {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 10px;
}

.mui-switch:before {
    content: '';
}

.mui-switch.mui-active:before {
    content: '';
}

.cart-list .cart-info {
    display: inline-block;
    /* float: left; */
    flex: 4;
}

.cart-info input {
    float: left;
    margin-top: 26px;
    margin-left: 20px;
}

.cart-info img {
    float: left;
    margin-right: 10px;
    width: 60px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.cart-info .des {
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.des .des-bottom {
    color: #ccc;
    font-size: 12px;
}

.cart-list .cart-paid {
    flex: 1;
    text-align: center;
    line-height: 60px;
}

.cart-list .cart-num {
    flex: 1;
    text-align: center;
    margin-top: 12px;
}

.cart-list .cart-total {
    flex: 2;
    text-align: center;
    line-height: 60px;
    color: red;
}

.cart-list .cart-edit {
    flex: 2;
    text-align: center;
    line-height: 60px;
}

.cart-edit svg {
    width: 30px;
    height: 30px;
    margin-top: 12px;
}


/* 商品底部 */

.cart-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.cart-select .active {
    color: orange;
}

.countTotal span {
    color: #999;
    margin-right: 20px;
    line-height: 46px;
}

.countTotal button {
    background-color: #df514a;
    color: #fff;
    padding: 10px 50px;
    border: 0;
    outline: 0;
}

.selectAll {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.model .mui-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .3);
}